* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.2vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.2vw;
  background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Scrollbar Ends*/

body {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  padding-top: 3rem;
}

section {
  padding-bottom: 9%;
}

/* Images */
.c_navbar img {
  width: 60px;
  justify-self: center;
}

.Aboutusimg {
  width: 35rem;
  justify-self: center;
}

.AlphaIcon {
  text-align: center;
}

.Alpha_Artist {
  width: 50rem;
  justify-self: center;
}

.card-img {
  width: 5vw;
  height: auto;
}

.Portfolio-img {
  width: 70rem;
}

.thumnail-img {
  width: 100%;
  height: auto;
}

/* Images End */


/* Classes */

/* Navbar */
.c_navbar ul {
  list-style: none;
  display: flex;
}

.c_nav-elements a {
  color: white;
  margin: 0 1rem;
  padding: 1rem;
  text-decoration: none;
}

.c_nav-elements a:hover {
  border-bottom: 1px white solid;
  margin-bottom: -1px;
}

.c_navbar .c_flex {
  flex-direction: column;
  justify-content: space-between;
}

.c_navbar .c_container {
  margin: 0 auto 4%;
}

/* Navbar Ends */

/* Home */
.Home .c_grid {
  gap: 3rem;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(100%) 1fr;
  text-align: center;
}

/* Home Ends */

/* About Us */
.aboutus .c_grid {
  gap: 3rem;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(100%) 1fr;
  text-align: center;
}

/* About Us Ends*/

/* Cards */
.c_body {
  margin-top: 1rem;
}

.cards .c_card {
  height: 85vh;
  width: 25vw;
}

.cards .c_container {
  position: relative;
  top: -80px;
  z-index: 1;
}

.c_card ul {
  list-style: none;
}

/* Cards End */

/* Portfolio */

.port-btn {
  margin: 4% 0;
}

.portfolio .c_container {
  max-width: 100%;
  margin: 6% 8%;
  padding: 0;
}

.portfolio .c_grid {
  gap: 0;
  grid-template-columns: 35% 65%;
}

.portfolio .gtext {
  background-color: black;
  color: white;
  text-align: left;
}

.g_img .c_grid {
  gap: 0px;
  grid-template-columns: 1fr 2fr;
  margin-top: 0;
}

.g_img .grid_bot {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.UdprIll {
  grid-row: 1 / span 2;
}

.gtext {
  padding: 8%;
  height: 100%;
}

.port-img {
  background-color: black;
  color: black;
  text-align: center;
  padding: 5rem 6rem;
}

/* Porfolio Ends */


/* Films */

.films .c_container {
  max-width: 100%;
  padding: 0;
}

.films .c_grid {
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
}

.films p {
  padding: 2% 8%;
}
.car-btn {
  font-size: 2rem;
}

.car-plcmt {
  width: 3.5%;
  color: black;
}

.car-plcmt:hover {
  color: black;
  opacity: 40%;
}

.close_btn {
  color: white;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
}

.video-player {
  width: 80%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 10%);
  display: none;
  padding-bottom: 8%;
}

video:focus {
  outline: none;
}

/* Films End */


/* Testimonials */

.testimonials .c_container {
  padding: 4% 0;
}

.testimonials .carousel-inner {
  padding: 4% 15%;
}

.testimonials .carousel-item p {
  margin-bottom: 2rem;
}

/* Testimonials End */

/* Footer */

.footer .c_grid {
  grid-template-columns: 90% 10%;
  gap: 0;
}

.footer .c_container {
  margin: 5% 0;
  padding: 0 0 0 12%;
  max-width: 100%;
}

.footer {
  text-align: center;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #082032;
}

.footer .up:hover {
  color: black;
}

.footer ul a {
  margin: 0 0.6rem;
}

.up {
  align-items: center;
  background-color: gray;
  display: flex;
  flex-basis: 0;
  font-size: 0.8rem;
  height: 100%;
  justify-content: center;
  padding: 5%;
}

/* Footer Ends */


/* Classes End */


/* IDs */
#cards, #portfolio, #films {
  background-color: white;
  color: black;
}

#testimonials {
  background-color: #082032;
  color: white;
}

#films, #testimonials {
  text-align: center;
}

#footer, #testimonials, #c_navbar {
  padding-bottom: 0;
}

/* IDs End */
/* Media */
@media only screen and (max-width: 1200px) {

  /* Cards */
  .cards .c_container {
    top: -60px;
  }

  .card-img {
    width: 8vw;
    height: auto;
  }

  .cards .c_flex {
    flex-wrap: wrap;
  }

  .cards .c_card {
    height: 65vh;
    width: 70vw;
  }

  /* Cards End */

  /* Portfolio */

  .portfolio .c_grid {
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(100%) fit-content(100%);
    overflow: visible;
  }

  .g_img .c_grid {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .g_img .grid_bot {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .UdprIll {
    grid-row: 1 / span 2;
  }
  /* Portfolio Ends */

  /* Films */

  .car-btn {
    font-size: 1.5rem;
  }

  /* Films End*/

}

@media only screen and (max-width: 1200px) and (orientation: landscape) {
  /* Cards */

  .cards .c_container {
    top: -40px;
  }

  .c_body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .cards .c_container {
    padding: 0;
  }

  .card-img {
    width: 15vw;
    height: auto;
  }

  .cards .c_card {
    height: 60%;
    width: 70%;
  }

  /* Cards End */
}

@media only screen and (max-width:576px) {
  h1 {
    font-size: 1rem;
  }

  p {
    font-size: 0.7rem;
  }

  .c_btn {
    padding: 2% 3%;
  }

  .testimonials ol {
    margin-bottom: 0;
  }
  /* NavBar */
  .c_nav-elements a {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .c_navbar ul {
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

  /* NavBar Ends */

  /* Cards */
  .c_card h1 {
    font-size: 1rem;
  }
  .cards .c_container {
    top: -40px;
  }

  .c_body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .cards .c_container {
    padding: 0;
  }

  .card-img {
    width: 15vw;
    height: auto;
  }

  .cards .c_card {
    height: 60%;
    width: 70%;
  }

  /* Cards End */

  /* Porfolio */

  .port-btn {
    font-size: 0.7rem;
    margin: 2% 0;
  }

  .port-img {
    padding: 10% 15%;
  }

  /* Porfolio Ends */


  /* Films */

  .car-btn {
    font-size: 0.8rem;
  }

  /* Films End*/

  /* Testimonials */

  .testimonials .carousel-item p {
    margin-bottom: 1rem;
  }

  .testimonials ol {
    margin-bottom: 0;
  }

  /* Testimonials End */


  /* Footer */

  .footer ul a {
    font-size: 0.8rem;
  }

  .footer .c_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
  }

  .footer .c_container {
    padding: 0;
  }

  .footer .up {
    font-size: 0.5rem;
    align-items: center;
    padding: 2%;
  }

  /* Footer Ends */

}

/* Media Ends */
